<div id="completeShow">
	<div id= "articleShow">

	<%if @article.user_id.to_i == session[:user_id]  %>
	<%= link_to "destroy this article?", article_path(@article) , method: :delete, data: { confirm: 'Are you sure?' }%>
	<%end  %>
		<div id= "imageShow" class = "ui sixteen column">
			<img src = <%=@article.image %> style="height:300px"></img>
		</div>
		<div id = "titleShow">
			<%=@article.title  %>
		</div>
		<div id = "titleInfo">
			<div>Author: <%=@article.author  %></div>
			<div>Date: <%=@article.date_published  %></div>
		</div>
		<div id = "textShow">
			<%=@article.text  %>
		</div>
	
	</div>
	<div id="scoreShow">
	<% if @article.score.to_f <= -0.1 %>
		<div id="redScore">
			Score: <%=@article.score  %>
			<br>
			Relevance: <%=@article.relevance  %>
		</div>
	<% elsif @article.score.to_f <= 0%>
		<div id="orangeScore">
			Score: <%=@article.score  %>
			<br>
			Relevance: <%=@article.relevance  %>
		</div>
	<% elsif @article.score.to_f == 0%>
		<div id="whiteScore">
			Score: <%=@article.score  %>
			<br>
			Relevance: <%=@article.relevance  %>
		</div>
	<% elsif @article.score.to_f >= 0.1%>
		<div id="greenScore">
			Score: <%=@article.score  %>
			<br>
			Relevance: <%=@article.relevance  %>
		</div>
	<% else %>
		<div id="yellowScore">
			Score: <%=@article.score  %>
			<br>
			Relevance: <%=@article.relevance  %>
		</div>
	<% end %>
	</div>
	
	How relevant are keywords to article
	<div id = "chart">
	<%= column_chart @article.keywords.group(:text).sum(:relevance) %>
	</div>
	Concepts by context tagging
	<div id = "chart">
	<%= pie_chart @article.contexts.group(:text).sum(:relevance	)%>
	</div>

</div>



