<!DOCTYPE html>
<html>
<head>
  <title>NewsBot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

</head>
<body>


<% flash.each do |key, value| %>
	<%= content_tag(:div, value, class: "alert#{key}")%>
<% end %>


<%if session[:user_id]%>
<%@user = User.find_by_id(session[:user_id])  %>
<%= @user.email %>
<div><%= link_to "Sign Out", logout_path, method: :delete %></div>
<div><%= link_to "New Article", new_user_article_path(session[:user_id]) %></div>
<%else%>
<div><%= link_to "Sign In", login_path, method: :delete %></div>
<%end%>

<div><%= link_to "Home", root_path %></div>


<%= yield %>

</body>
</html>
