<!DOCTYPE html>
<html>
<head>
  <title>NewsBot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

</head>
<body>
<div class="ui container">

<% flash.each do |key, value| %>
	<%= content_tag(:div, value, class: "alert#{key}")%>
<% end %>

<div id= "headingAll" class= "ui inverted masthead center aligned segment">
	<div id = "navBar" class= "ui large inverted vertical masthead center aligned segment">
		<div id= "leftMenu"  class = "item"><%= link_to "HOME", root_path %></div>
		<div id= "leftMenu" class = "item"><%= link_to "ABOUT", root_path %></div>
		
		<%if session[:user_id]%>
			<%@user = User.find_by_id(session[:user_id])  %>
			<div id = "leftMenu" class = "item"><%= link_to "NEW ARTICLE", new_user_article_path(session[:user_id]) %></div>
			<div id= "rightMenu">
				<div   class="ui inverted button"><%= @user.email %></div>
				<div  class = "ui inverted button"><%= link_to "Sign Out", logout_path, method: :delete %></div>
			</div>

		<%else%>
			<div id = "rightMenu">
				<div class = "ui inverted button"><%= link_to "Log In", login_path %></div>
				<div class = "ui inverted button"><%= link_to "Sign Up", signup_path %></div>
			</div>
		<%end%>
	</div>
	<div id= "headingMiddle" class = "ui text container">
		<h1 id = "company" class = "ui inverted header">
		Make Your Own Biases
		</h1>
		<div id= "howItWorks" class="ui huge primary button">
		How It Works 
		<i class="right arrow icon"></i>
		</div>
	</div>
</div>


<%= yield %>
</div>
</body>
</html>
