<div id="middleBar">
	<div class="ui divider"></div>
		<div class= "ui relaxed grid">
			<div id= "pageTitle" class= "six wide column">
				<h1>User Submitted</h1>
				<h1>Articles</h1>
			</div>
			<div id ="horizontalDiv" class="ui two column very 	relaxed 	stackable grid">
				<div class= "ui vertical divider">
				explore
				</div>
			</div>
			<div id= "pageDescription" class="ui eight wide column">
				<p>Click on the article name for more information. 		Check two boxes and click compare to compare the 	two 	articles' data.</p>
			</div>
		</div>
	<div class="ui divider"></div>
</div>


<div id="compareForm">

<%= form_tag(compare_path, {method: "get"})	 do %>
	<div id= "compareButton" > 
			<%= submit_tag "Compare", class: "ui huge violet button" %>
	</div>

	<div id= "articles" class= "ui relaxed grid">
		<% @articles.each do |article| %>
		<div id= "article" class= "four wide column">
		<div id= "centerMe">
			<img id= "articleImage" src = <%=article.image  %> style="height:100px"  ></img>
		</div>
			<div id= "articleTitle" ><%= link_to article.title, article_path(article) %></div>
			<div id= "articleBase" >Score:<%=article.score  %></div>
			<div id= "articleBase" >Relevance: <%=article.relevance  %></div>
			
			<div id= "articleBase" >Author: <%=article.author  %></div>
			<div id= "articleBase" >Date: <%=article.date_published  %></div>
			<br>
			<div id= "articleText" ><%=truncate(article.text, length: 500)%></div>
			<div class="ui checkbox">
	  			<input type="checkbox" name="article_ids[]" value="<%=article.id%>">
	  			<label>Select & Compare</label>
	  		</div>
		</div>
		<% end %>
    <% end %>

</div>	
</div>




